body {
    background: #FFFFFF;
}
h1 {
    text-align: center;
}
.caixa1 {
    position: absolute;
    background: #0A2A1B;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 0;
}

.caixa2 {
    position: absolute;
    background: #0B3B24;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 205px;
    bottom: 0;
}

.caixa3 {
    position: absolute;
    background: #0B6138;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 205px;
}

.menuPrincipal {
    position: relative;
    background: #04B45F;
    width: 100%;
    height: 45px;
    top: 0;
    color: #58FAF4;
}
nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li a:hover {
    background: #81F7BE;
    color: #6E6E6E;
}
#aviao.png {
    width: 20%;
 }
 .caixaAviao {
    position: absolute;
    top: 50px;
    left: 0;
    width: 90%;
    height: 150px;
    background: #F2F2F2;
    margin: 20px;
    border-color: #0B6138;
    border-width: 20px;
    border-style: solid;
    padding: 20px;
 }